{
  "extends": ["standard", "standard-react"],
  "parser": "babel-eslint",
  "plugins": [
    "babel",
    "react",
    "standard"
  ],
  "env": {
    "mocha": true
  },
  "globals": {
    "assert": true,
    "expect": true,
    "sinon": true
  },
  "rules": {
    "babel/object-shorthand": 2,
    "react/prop-types": [2, { "ignore": [ "children", "className" ] }],
    "standard/computed-property-even-spacing": 0
  }
}
