{
  "extends": ["standard", "standard-react"],
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "standard"
  ],
  "rules": {
    "standard/object-curly-even-spacing": [2, "either"],
    "standard/array-bracket-even-spacing": [2, "either"],
    "standard/computed-property-even-spacing": [2, "even"]
  }
}
